.container{
    padding: 0 ; 
    margin: 0 ;
}

.card-container{
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 10px;
    width: 258px;
    height: 393px;
}

.img-container{
    width: 258px;
    height: 248px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-container:hover .overlayCardImage:hover .imgContainerCards{
    opacity: 0.2;
}

.overlayCardImage{
    width: 258px;
    height: 393px;
    transition: .5s ease;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgb(50,199,119);
}

.img-container .imgContainerCards{
    width: 100%;
    transition: .5s ease;
}

.card-body .photoTitleH{
    padding: 0;
    margin: 0;
    font-size: 1.3376rem;
    letter-spacing: 0.3px;
    color: rgba(0, 0, 0, 0.871);
    font-weight: 500;
}

.card-body{
    text-align: center;
    padding-top: 19px;
    padding-left: 45px;
    padding-right: 45px;
}

.photoCost{
    width: 100%;
    text-align: center;
}

.container .loadMorea{
    width: 100%;
    height: 137px;
    text-align: center;
}

.loadMorea .loadMoreButtonCardsa{
    margin: 49px 0 0 0;
    padding: 0 43px;
    height: 37px;
    color: white;
    border: 2px solid rgb(232, 226, 214);
    -webkit-box-shadow: none; 
    box-shadow: none;
    border: none;
    background-color: rgb(132,188,34);
    border-radius: 17px;
    letter-spacing: -1px;
}

.img-container .imagePlusHeart{
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: -55%;
    margin-left: 10%;
    opacity: 0;
    transition: .5s ease;
}

.img-container:hover .imagePlusHeart{
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: -85%;
    margin-left: 12%;
    opacity: 1;
    transition: .5s ease;
}

.img-container .imagePlusHeart .plusImage{
    margin: 20px;
}

.img-container .imagePlusHeart .heartImage{
    margin: 20px;
}

.photoCost .hideCardButton{
    display: flex;
    justify-content: center;
    margin-top: -49px;
}

.photoCost .hideCardButton .hideButtonCurrency{
    color: var(--green);
    background-color: white;
    border: 2px solid rgb(229,229,229);
    border-right: none;
    padding: 5px 15px 3px 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.photoCost .hideCardButton .hideButtonBuyNow{
    font-size: 1.2rem;
    background-color: white;
    border: 2px solid rgb(229,229,229);
    padding: 5px 15px 3px 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 20px;
}



@media only screen and (min-width: 900px) {
    
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 27px 27px;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1140px;
    }

    .container .card-container{
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        height: 393px;
        width: 258px;
        margin: 0;
        padding: 0;
    }
    .card-content {
        width: 258px;
        height: 145px;

    }
    .img-container .imgContainerCards{
        width: 100%;
        height: 100%;
        transition: .5s ease;
    }

    .img-container .imagePlusHeart{
        display: flex;
        justify-content: space-around;
        position: absolute;
        margin-top: -9%;
        margin-left: 2%;
        opacity: 0;
        transition: .5s ease;
    }

    .img-container:hover .imagePlusHeart{
        display: flex;
        justify-content: space-around;
        position: absolute;
        margin-top: -9%;
        margin-left: 2%;
        opacity: 1;
        transition: .5s ease;
    }

    .img-container .imagePlusHeart .plusImage{
        margin: 10px;
        width: 70px;

    }

    .img-container .imagePlusHeart .heartImage{
        margin: 10px;
        width: 70px;
    }

    .card-body .photoTitleH{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
    }

    .card-body{
        text-align: center;
        padding-top: 19px;
        padding-left: 45px;
        padding-right: 45px;
        height: 55px;
    }

    .photoCost{
        width: 100%;
        text-align: center;
        margin-top: 15px;
        color: #b2b2b2;
        font-size: 1.2rem;
    }

    .container .loadMorea{
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .loadMorea .loadMoreButtonCardsa{
        margin: 29px 0 0 0;
        padding: 0 43px;
        height: 37px;
        width: 100%;
        max-width: 260px;
        color: white;
        border: 2px solid rgb(217,217,217);
        -webkit-box-shadow: none; 
        box-shadow: none;
        background-color: var(--green);
        border-radius: 17px;
        letter-spacing: -1px;
    }

    .container .titleab{
        margin-top: 30px;
        margin-bottom: -10px;
        background-color: transparent;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .titleab .results {
        color: #45413e;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: 30px;
    }

    .titleab .results span {
        font-size: 16px;
        color: #45413e;
        font-weight: 600;
    }
    
    .container .titleab .resultsTitlea{
        color: black;
        font-size: .83rem;
        letter-spacing: .7px;
    }

    .btn .hideCardButton{
        display: flex;
        justify-content: center;
        margin-top: -43px;
    }
}