.container{
    padding: 0 ; 
    margin: 0 ;
}
.card-container{
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 10px;
}
.img-container{
    width: 100%;
    height: 261px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img-container:hover .overlayCardImage:hover .imgContainerCards{
    opacity: 0.2;
}
.img-container .overlayCardImage{
    width: 100%;
    height: 100%;
    transition: .5s ease;
    border-top-left-radius: 12px ;
    border-top-right-radius: 12px;
    background-color: rgb(50,199,119);
}
.img-container .imgContainerCards{
    width: 100%;
    transition: .5s ease;
}
.card-body .photoTitleH{
    padding: 0;
    margin: 0;
    font-size: 1.3376rem;
    letter-spacing: 0.3px;
    color: rgba(0, 0, 0, 0.871);
    font-weight: 500;
}
.card-body{
    text-align: center;
    padding-top: 19px;
    padding-left: 45px;
    padding-right: 45px;
}
.btn{
    width: 100%;
    text-align: center;
}
.btn .currencyCostBtn{
    background-color: rgba(210, 180, 140, 0);
    border: none;
    outline: none;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: rgb(178,178,178);
}
.btn .currencyCostBtn:hover{
    background-color: rgba(210, 180, 140, 0);
    border: none;
    outline: none;
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: rgb(178,178,178);
}
.container .loadMorea{
    width: 100%;
    height: 137px;
    text-align: center;
}
.loadMorea .loadMoreButtonCardsa{
    margin: 49px 0 0 0;
    padding: 0 43px;
    height: 37px;
    color: white;
    border: 2px solid rgb(232, 226, 214);
    -webkit-box-shadow: none; 
    box-shadow: none;
    border: none;
    background-color: rgb(132,188,34);
    border-radius: 17px;
    letter-spacing: -1px;
}
.img-container .imagePlusHeart{
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: -55%;
    margin-left: 13%;
    opacity: 0;
    transition: .5s ease;
}
.img-container:hover .imagePlusHeart{
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: -55%;
    margin-left: 12%;
    opacity: 1;
    transition: .5s ease;
}
.img-container .imagePlusHeart .plusImage{
    margin: 20px;
}
.img-container .imagePlusHeart .heartImage{
    margin: 20px;
}
.btn .hideCardButton{
    display: flex;
    justify-content: center;
    margin-top: -49px;
}
.btn .hideCardButton .hideButtonCurrency{
    color: var(--green);
    background-color: white;
    border: 2px solid rgb(229,229,229);
    border-right: none;
    padding: 5px 15px 3px 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.btn .hideCardButton .hideButtonBuyNow{
    font-size: 1.2rem;
    background-color: white;
    border: 2px solid rgb(229,229,229);
    padding: 5px 15px 3px 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 20px;
}
@media only screen and (min-width: 900px) {
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 27px 27px;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1280px;
    }

    .container .card-container{
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        height: 365px;
        max-width: 271px;
        margin: 0;
        padding: 0;
    }
    .img-container .imgContainerCards{
        width: 100%;
        height: 100%;
        transition: .5s ease;
    }
    .img-container .imagePlusHeart{
        display: flex;
        justify-content: space-around;
        position: absolute;
        margin-top: -15%;
        margin-left: 1.6%;
        opacity: 0;
        transition: .5s ease;
    }
    .img-container:hover .imagePlusHeart{
        display: flex;
        justify-content: space-around;
        position: absolute;
        margin-top: -15%;
        margin-left: 1.6%;
        opacity: 1;
        transition: .5s ease;
    }
    .img-container .imagePlusHeart .plusImage{
        margin: 10px;
    }
    .img-container .imagePlusHeart .heartImage{
        margin: 10px;
    }
    .card-body .photoTitleH{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
    }
    .card-body{
        text-align: center;
        padding-top: 19px;
        padding-left: 45px;
        padding-right: 45px;
        height: 55px;
    }
    .btn{
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }
    .container .loadMorea{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .loadMorea .loadMoreButtonCardsa{
        margin: 29px 0 0 0;
        padding: 0 43px;
        height: 37px;
        width: 100%;
        max-width: 260px;
        color: white;
        border: 2px solid rgb(217,217,217);
        -webkit-box-shadow: none; 
        box-shadow: none;
        background-color: var(--green);
        border-radius: 17px;
        letter-spacing: -1px;
    }
    .container .titleab{
        margin-top: 30px;
        margin-bottom: -10px;
        background-color: rgb(242,237,234);
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .container .titleab .resultsTitlea{
        color: black;
        font-size: .83rem;
        letter-spacing: .7px;
    }
    .btn .hideCardButton{
        display: flex;
        justify-content: center;
        margin-top: -43px;
    }
}