:root {
    --green: rgb(132, 188, 34);
}

.cookies {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999999999999999999;
}

.cookies-inner {
    position: relative;
    padding: 25px;
    width: 92.3%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-left: 3.3px;
}

.cookies-inner .closeButton {
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    top: 5px;
    right: 5px;
    border: none;
    background-color: white;
}

.cookies-inner .closeButton img {
    height: 20px;
    width: 20px;
}

p {
    text-align: left;
    font-size: .9rem;
}

h3 {
    margin-top: 20px;
    color: var(--green);
    font-weight: 700;
    font-size: 1.5rem;
}

span {
    color: var(--green);
}

.acceptButton {
    background-color: var(--green);
    border: none;
    border-radius: 25px;
    text-align: center;
}

/* .cookies .cookies-inner .acceptButton:hover {
    position: absolute;
    background-color: #1e7a1b;
    border: none;
    border-radius: 25px;
    text-align: center;
    padding: 8px 38px 6px 38px;
} */

h4 {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 5px 30px 0 30px;
}

.policyPage {
    color: #84bc22;
}

.policyPage:hover {
    color: #1e7a1b;
    text-decoration: none;
}

@media only screen and (min-width: 900px) {
    .cookies-inner {
        text-align: left;
        padding-bottom: 3px;
        width: 91.3%;
        margin-left: 0;
    }

    .cookies .cookies-inner p {
        text-align: left;
        font-size: 1rem;
        margin-right: 258px;
        line-height: 1.5;
    }

    .cookies .cookies-inner h3 {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .cookies-inner .closeButton {
        height: 20px;
        width: 20px;
        margin-top: 5px;
        margin-right: 20px;
    }

    .cookies-inner .closeButton img {
        height: 20px;
        width: 20px;
    }

    .cookies .cookies-inner .acceptButton {
        position: absolute;
        background-color: var(--green);
        border: none;
        border-radius: 25px;
        text-align: center;
        padding: 8px 38px 6px 38px;
    }

    .cookies .cookies-inner .acceptButton {
        margin-left: 83%;
        margin-top: -3.7%;
    }

    .policyPage {
        color: #84bc22;
    }

}