

div {
    margin:0 auto;
}
.styleBreadcrumb ol{
    background-color: transparent;
    justify-content: center;
}

.styleBreadcrumb ol li {
    height: 12px;
    color: #45413e;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.styleBreadcrumb ol li a {
    color: #85c441;
}
