

.container {
    background-color: #f1edea;
    padding: 60px 65px 55px 65px;
}

.mainTitle {
    color: #45413e;
    font-family: "Lato - Bold";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;

    &:before,
    &:after {
        content: "";
        display: inline-block;
        width: 40%;
        margin: 0 .5em 0 -55%;
        vertical-align: middle;
        border-bottom: 2px solid;
        color: #e5e2df;
    }
    &:after {
        margin: 0 -55% 0 .5em;
    }
}

