.sales {
    width: 270px;
    height: 505px;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    
}

.imageSale {
    height: 335px;
    overflow: hidden;
    border-radius: 8px;
    height: 19rem;
    width: 17rem;
}




 .textFollow  {
    color: #45413e;
	font-size: 18px;
	font-weight: 400;
}



.textDetails{
    color: #45413e;
	font-size: 13px;
	font-weight: 400;
}


.btnSales {
    color: #3a5b96;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: transparent;
	border-radius: 42px;
	border: 2px solid #3a5b96;
	padding: 10px 50px;
}

.btnSales .fb {
    margin-right: 20px;
}

.btnSales:hover {
    background-color: #3a5b96;
    color: #ffffff;
}





