.main{
    width: 100%;
    margin: 0;
    padding: 0;
}
.firstDiv{
    height: 472px;
    margin: 20px 13px 22px 16px;
    background-color: white;
    overflow:hidden;
    border-radius: 7px;
}
.w-100{
    width: none!important;
}
.firstDiv .firstImage{
    height: 472px;
    border-radius: 3px;
    object-fit: none;
    object-position: right;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    display: none;
}
.carousel-indicators{
    margin-bottom: 19px;
}
.carousel-indicators li {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: rgb(181, 184, 181);
    opacity: unset;
    margin-left: 9px;
    margin-right: 9px;
  }
.carousel-indicators li.active{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    opacity: unset;
    margin-left: 9px;
    margin-right: 9px;
    margin: 0;
    margin-top: 6px;
}
.carousel-caption{
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: 23px 16px 90px 17px;
    padding: 0;  
}
.carousel-caption .title{
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    line-height: 39px;
    padding-bottom: 43px;
    padding-left: 0;
    padding-right: 0;
}
.carousel-caption .content{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-align: left;
    padding-bottom: 140px;
    line-height: 17px; 
}
.carousel-indicators .active{
    margin-bottom: -20px;
}
.btn-primary:not(:disabled):not(.disabled):active{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, 0);
}
.buttonView{
    width: 100%;
    margin-top: -15px;
}
.buttonView .viewMoreButton{
    border: 2px solid rgb(138,139,142);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 300;
    padding: 5px 30px;
}
@media only screen and (min-width: 900px) {
    .firstDiv{
        width: 870px;
        height: 505px;
        background-color: white;
        overflow:hidden;
        padding: 0;
        margin: 0;
        margin-right: 30px;
    } 
    .w-100{
        width: none!important;
    }
    .firstDiv .firstImage{
        height: 505px;
        border-radius: 3px;
        object-fit: none;
        object-position: right;
    }
    .carousel-caption{
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        margin: 80px 251px 102px 63px;
        padding: 0;  
    }
    .carousel-caption .title{
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        text-align: left;
        line-height: 39px;
        padding-bottom: 114px;
        padding-left: 0;
        padding-right: 0;
    }   
    .carousel-caption .content{
        font-size: .9rem;
        font-weight: 500;
        margin: 0;
        text-align: left;
        padding-bottom: 46px;
        line-height: 17px;
        padding-right: 221px; 
    }
    .buttonView{
        width: 100%;
        margin-top: 0;
        text-align: left;  
    }
    .buttonView .viewMoreButton{
        border: 2px solid rgb(138,139,142);
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-weight: 300;
        padding: 15px 35px;
    }
    .carousel-indicators{
        margin-bottom: 40px;
    }
}