/* .tabTab {
    background-color: #262A33;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    padding: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.tabsTab a {
    padding: 20px;
}

.containerTab {
    margin-top: 80px;
    display: inline;
}

.colTab nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.colTab nav a {
    color: #bdc3c7;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    border-top-left-radius: 20px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #262A33;
    border-color:transparent !important;
} 

.nav-link.active:hover {
    border:none;
    border-color: transparent !important;
} */

.appa{
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.appa .descriptionProductDesktop{
    display: inherit;
}
.appa .descriptionProductDesktop .buttonsDescription{
    text-align: center;
}
.appa .descriptionProductDesktop .buttonsDescription .description{
    border: 2px solid rgba(232, 226, 214, 0);
    border-bottom: none;
    outline: none;
    background: none;
    font-size: 1.4rem;
    color:rgb(189,195,199);
    font-weight: 700;
    padding: 25px 52px 25px 52px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0 10px;
    transition:ease-out .4s ;
}
.appa .descriptionProductDesktop .buttonsDescription .description:hover{
    background-color: rgb(38,42,51);
    border: 2px solid rgb(232,226,214);
    border-bottom: none;
}
.appa .descriptionProductDesktop .descriptionContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    background-color: rgb(38,42,51);
    color: white;
    padding: 78px 38px 72px 69px;
    border-top: 2px solid rgb(232,226,214);
    border-bottom: 2px solid rgb(232,226,214);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -1.7px;
}
.appa .descriptionProductDesktop .descriptionContainer .descriptionColumn{
    margin: 0;
    padding: 0;
    margin-right: 72px;
    font-size: 1rem;
    line-height: 23px;
}