.appPDP {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 80px;
    background-color: #ffffff ;
}

.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.details .big-img {
    overflow: hidden;
}

.big-img img {
    display: block;
}

.details .boxPDP {
    margin: 10px;
    text-align: left;
}

.boxPDP .rowPDP { 
    margin-bottom: 15px;
    padding: 0;
}

.boxPDP .rowPDP .itemPrice {
    color: rgba(0, 0, 0, .912);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1.3px;
}

.boxPDP .colors {
    margin-bottom: 20px;
    display: none;
}

.boxPDP .colors button {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
}

.boxPDP .itemContentPDP {
    line-height: 1.8px;
    margin: 10px 0;
}

.thumb {
    width: 100%;
    height: 70px;
    display: flex;
    cursor: pointer;
    margin: 10px 0;
    justify-content: center;
}

.thumb img {
    width: 70px;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #ddd;
    margin-right: 5px;
    opacity: 0.4;
    border-radius: 5px;
}

.thumb img:active {
    opacity: 1;
    border: 2px solid green;

}

.boxPDP .cartPDP {
    background:green;
    color: white;
    border: 2px solid rgba(230, 213, 181, 0.638);
    border-radius: 25px;
    cursor: pointer;
    padding: 6px 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1rem;
}

.boxPDP .readMore {
    border: none;
    outline: none;
    background: none;
    color: var(--green);
    margin: 0;
    padding: 0;
    letter-spacing: .2px;
    margin-bottom: 15px;
}

.bottomDiv {
    margin-bottom: 20px;
}

.bottomDiv .styleButton img{
    height: 15px;
    margin-top: -4px;
}
.bottomDiv .shareBtn {
    padding-left: 0;
    padding-right: 33px;
}
.bottomDiv .fbBtn {
    padding-left: 0;
    padding-right: 23px;
}
.bottomDiv .ggBtn{
    padding-left: 0;
    padding-right: 23px;
}
.bottomDiv .twBtn {
    padding-left: 0;
    padding-right: 23px;
}

.bottomDiv .pinBtn{
    padding-left: 0;
    padding-right: 23px;
}

.selectComponentColor{
    width: 100%;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(230, 213, 181, 0.638);
    border-radius: 25px;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
}

.selectComponentColor{
    width: 100%;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(230, 213, 181, 0.638);
    border-radius: 25px;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
}
.customSelectDiv{
    width: 50%;
}

.customSelectDiv .ui.selection.dropdown{
    border: 2px solid rgba(230, 213, 181, 0.638);
    border-radius: 25px;
    box-shadow: none;
    min-height: 1em;
    padding: 7px 10px 7px 10px;
}
.customSelectDiv .ui.selection.dropdown:focus{
    border: 2px solid rgba(230, 213, 181, 0.638);
    border-radius: 25px;
    box-shadow: none;
    min-height: 1em;
}

.customSelectDiv .ui.selection.dropdown .menu{
    border: 2px solid rgba(230, 213, 181, 0.638);
    box-shadow: none;
    max-height: none;
}

.customSelectDiv .ui.selection.active.dropdown:hover .menu{
    border-color: rgba(230, 213, 181, 0.638);
    box-shadow: none;
}

.customSelectDiv .ui.dropdown .menu > .item > .image, .ui.dropdown .menu > .item > img,
.customSelectDiv .ui.dropdown > .text > .image, .ui.dropdown > .text > img{
    vertical-align: middle;
    max-height: 1.2rem;
    height: 1.2rem;
    margin-top: -12px;
}

.customSelectDiv .ui.selection.dropdown{
    color: rgba(230, 213, 181, 0.638);
    top: -12px;
}

.customSelectDiv .ui.selection.dropdown .menu > .item{
    border: none;
}

.customSelectDiv .ui.selection.dropdown > .dropdown.icon{
    margin-top: -2px;
    top:0;
}

.customSelectDiv .text{
    color: black;
}

.counterDiv {
    width: 25%;
}

.counterDiv .buttonMinus {
    background: none;
    box-shadow: none;
    width: 33.3%;
    height: 30px;
    border: 2px solid rgba(230, 213, 181, 0.638);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: none;
    color: rgba(0, 0, 0, 0.487);
    vertical-align: middle;
}

.counterDiv .buttonMinus span {
    color: darkgray;
    font-weight: 700;
}

.counterDiv .buttonNumber {
    background: none;
    box-shadow: none;
    width: 33.3%;
    height: 30px;
    border: 2px solid rgba(230, 213, 181, 0.638);
    border-right: none;
    border-left: none;
    vertical-align: middle;
}

.counterDiv .buttonNumber::-webkit-outer-spin-button, .counterDiv .buttonNumber::-webkit-inner-spin-button {
    /* display: none; /<- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.counterDiv .buttonNumber [type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.counterDiv .buttonNumber span {
    color: #000000;
    align-content: center;
}

.counterDiv .buttonPlus {
    background: none;
    box-shadow: none;
    width: 33.3%;
    height: 30px;
    border: 2px solid rgba(230, 213, 181, 0.638);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: none;
    color: rgba(0, 0, 0, 0.487);
    vertical-align: middle;
}

.counterDiv .buttonPlus span {
    color: darkgray;
    font-weight: 700;
}

.appPDP .descriptionProductDesktop{
    display: none;
}


@media only screen and (min-width: 900px) {
    .appPDP{
        margin: 0;
        background-color: rgb(255, 255, 255);
    }
    .appPDP .details{
        position: block;
        display: flex;
        justify-content: left;
        padding: 16px;
        width: 100%;
        padding-bottom: 50px;
    }
    .details .big-img{
        overflow: unset;
    }
    .big-img img{
        display: inherit;
        height: 526px;
        width: auto;
    }
    .thumb{
        width: 75px;
        height: 354px;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        margin: 0;
        margin-top: 12px;
        justify-content: center;
        padding: 0;
        margin-left: 32px;
    }
    .thumb img{
        width: 75px;
        height: 75px;
        display: block;
        object-fit: cover;
        border: 1px solid #ddd;
        margin-right: 5px;
        opacity: .4;
        border-radius: 5px;
        transition: .5s ease-in-out;
        margin: 0;
        padding: 0;
    }
    .thumb img.active{
        width: 79px;
        height: 79px;
        opacity: 1;
        border: 2px solid var(--green);
    }
    .details .boxPDP{
        margin: 0;
        text-align: left;
        width: 38.3%;
        margin-left: 69px;
        margin-top: 37px;
    }
    .boxPDP .rowPDP .itemPrice{
        color: rgba(0, 0, 0, 0.912);
        font-size: 2.5rem;
        font-weight: 900;
        letter-spacing: -1.3px;
    }
    .customSelectDiv{
        width: 156px;
    }
    .counterDiv{
        width: 110px;
    }
    .boxPDP .cartPDP{
        background:var(--green);
        color: white;
        border: 2px solid rgba(230, 213, 181, 0.638);
        border-radius: 25px;
        cursor: pointer;
        padding: 5px 26px 4px 26px;
        margin-top: 15px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 1rem;
        position: absolute;
        margin-left: 135px;
        margin-top: -29px;
    }
    .boxPDP .itemContentPDP{
        line-height: 1.8;
        margin: 0;
        margin-top: 40px;
        margin-bottom: 10px;
        margin-right: 38px;
        font-size: 1.3rem;
    }
    .bottomDiv{
        margin-bottom: 0;
    }
    .bottomDiv .styleButton{
        border: none;
        outline: none;
        background: none;
        filter: invert(100%) sepia(0%) saturate(7246%) hue-rotate(23deg) brightness(75%) contrast(80%);
    }
    .bottomDiv .styleButton img{
        height: 15px;
        margin-top: -4px;
    }
    .bottomDiv .shareBtn{
        padding-left: 0;
        padding-right: 33px;
    }
    .bottomDiv .fbBtn{
        padding-left: 0;
        padding-right: 23px;
    }
    .bottomDiv .ggBtn{
        padding-left: 0;
        padding-right: 23px;
    }
    .bottomDiv .twBtn{
        padding-left: 0;
        padding-right: 23px;
    }
    .bottomDiv .pinButton{
        padding-left: 0;
        padding-right: 23px;
    }
}


