/* :root{
    --green: rgb(132,188,34);
}
.login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999999999;
}

.login-inner{
    position: relative;
    padding: 25px;
    width: 90%;
    background-color: white;
    border-radius: 7px;
    text-align: center;
}

.login-inner h3{
    color: black;
    font-size: 1.7rem;
    text-align: center;
}

.loginButton{
    background-color: var(--green);
    border: none;
    border-radius: 25px;
    text-align: center;
    width: 55%;
}
.loginButton h4{
    color: white;
    font-size: .8rem;
    font-weight: 300;
    padding: 5px 0;
}
form {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
form h6 {
    color: black;
    text-align: left;
    font-size: .9rem;
}
 form div{
     display: flex;
     width: 100%;
     justify-content: space-between;
 }
 form input{
     width: 100%;
     border: 2px solid rgb(215,215,215);
     border-radius: 25px;
 }

 form input:focus{
     outline: none;
 }
 .login p{
     text-align: center;
     color: var(--green);
     margin-top: 15px;
 }
 .passwordInput .eye{
     position: absolute;
     margin-top: 1.5%;
     margin-left: 66%;
 }
 .forgot{
     color: var(--green);
 }
 @media only screen and (min-width: 900px) {
    .login .login-inner{
        position: relative;
        padding: 25px;
        width: 30%;
        background-color: white;
        border-radius: 7px;
        text-align: center;
    }
    .login .login-inner h3{
        color: black;
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    .login .login-inner form h6{
        margin-bottom: 15px;
    }
    .login .login-inner form input{
        width: 100%;
        border: 2px solid rgb(215,215,215);
        border-radius: 25px;
        height: 30px;
    }
    .login .login-inner form .passwordInput .eye{
        position: absolute;
        margin-top: 2.3%;
        margin-left: 67%;
    }
    .login .login-inner .loginButton h4{
        margin: 7px 0;
        font-size: 1.2rem;
        padding: 0;
    }
    .login .login-inner .loginButton{
        width: 55%;
    }
    .login .login-inner p{
        margin-top: 15px;
    }
} */



.styleMainTitleLogin{
    color: #45413e;
    font-family: "Lato - Bold";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.styleFormControlLogin
{border-radius: 40px;
    border: 2px solid #d7d7d7;
    width: 85%;
    margin: 0 auto;

   
}
.styleFormControlLogin:focus {
    border: 2px solid #d7d7d7;
    box-shadow: none;
    }

.styleInputGroupLogin{
    width: 85%;
    margin: 0 auto;
}

.styleColLogin {
	padding: 0;
	margin: 0;
}

.styleInputGroupTextLogin {
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid #d7d7d7;
    border-left: none;

    
}
styleInputGroupTextLogin:focus {
    border-left: none;
}


.stylePassLogin {
    border-right: none;   
}

.stylePassLogin:focus {
    border-right: none;
}

.styleFormLabelLogin {
    color: #45413e;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    margin-left: 10%;
    display: flex;
    flex-direction: row;   
}

.styleFormLabelLogin .styleColLogin {
    padding-top: 17px;
}

.styleFormLabelLogin .styleCol1Login {
    padding-top: 7px;
    margin-bottom: -15px;
}

.styleBtnLogin {
    border: 2px solid #84bc22;
    background-color: #84bc22;
    border-radius: 40px;
    padding: 10px 70px;
    color: #ffffff;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}
.styleBtnLogin:hover,.styleBtnLogin:active, .styleBtnLogin:focus   {
    background-color: #79AD1F !important;
    border: 2px solid #79AD1F !important; 
    box-shadow: none !important;
}

.styleLinkLogin {
    color: #84bc22;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.6px;
    display: flex;
    justify-content: center;
}
.styleLinkLogin:hover {
    color: #84bc22;
}

.styleBtnDivLogin {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.styleBtnUserLogin {
    background-color: transparent;
    border: none;
    color: grey;
    font-size: 20px;
    position: relative;
    bottom: 8px;
}



.styleBtnUserLogin:hover{ 
    color: #4C4C4C !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.styleBtnUserLogin:focus{ 
    color: #4C4C4C !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.styleBtnUserLogin:active{ 
    color: #4C4C4C !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
