
.container {
    background-color: #f1edea;
    padding: 0 50px 0 50px;
    margin-top: 85px;
}

.breadcrumb {
    margin-top: 40px;

    ol {
        background-color: transparent;
        justify-content: center;

        li {
            height: 12px;
            color: #45413e;
            font-family: 'Lato';
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
        
                a {
                    color: #85c441;
                }
        }
    }
}

.mainTitle {
    color: #45413e;
    font-family: "Lato - Bold";
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;

        &:before,
        &:after {
            content: "";
            display: inline-block;
            width: 17%;
            margin: 0 .5em 0 -55%;
            vertical-align: middle;
            border-bottom: 2px solid;
            color: #e5e2df;
        }
        &:after {
            margin: 0 -55% 0 .5em;
        }
}

.colorPicker {
    list-style-type:none;
    margin-right: 15%;

    li {
        list-style-type:none;
        
        &:nth-child(n-1) {
            margin-bottom: 20px;
        }

        img {
            cursor: pointer;
            width: 73px;
            height: 70px;
        }
    }
}

.price {
    color: #45413e;
    font-family: "Lato - Bold";
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.description {
    color: #45413e;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    }

.readMore {
    color: #84bc22;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    cursor: pointer;
}

.bigImg {
    width: 458px;
    height: 458px;
}

.bg {
    background-color: #ffffff;
    border-radius: 10px;
}

.containerProduct {
    padding: 30px 50px 0 30px;
}

.dropdown {
    
    button {
    background-color: transparent;
    border: 2px solid #E8E2D6;
    border-radius: 42px;
    color: #45413e;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;

        &:hover, &:focus, &:active {
            background-color: transparent !important;
            border: 2px solid #E8E2D6 !important;
            color: #45413e !important;
            box-shadow: none !important;
        }
    }

    .btnDrop {
        width: 152px;
        border-right: none;
            &:hover, &:focus, &:active {
                border-right: none !important;
            }
    }

    .toggle {
        border-left: none;
            &:hover, &:focus, &:active {
                border-left: none !important;
            }

            &::after {
                color: #E8E2D6;
            }
    }

    .greyClr {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: none;
        background-color: #585D61;
        margin-right: 10px;
    }

}

.redClr {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: none;
    background-color: #DC041D!important;
    margin-right: 10px;
}

.orangeClr {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: none;
    background-color: #EC6115!important;
    margin-right: 10px;
}

.mintClr {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: none;
    background-color: #43C0CF!important;
    margin-right: 10px;
}

.inputGroup {
    margin: 25px 0 40px 0;
    width: 65%;
    color: #45413e;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
}

.col {
    padding-left: 0;
}

.minus {
    border: 2px solid #e8e2d6;
    background-color: transparent;
    border-right: none;
    border-radius: 42px;
    cursor: pointer;
    color: #999999;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.formControl {
    border: 2px solid #e8e2d6;
    background-color: transparent;
    border-right: none;
    border-left: none;
    height: 40px;
}

.plus {
    border: 2px solid #e8e2d6;
    background-color: transparent;
    border-left: none;
    border-radius: 42px;
    cursor: pointer;
    color: #999999;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.cartBtn {
    border-radius: 42px;
    border: 2px solid #e8e2d6;
    background-color: #84bc22;
    color: #ffffff;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    padding: 10px 30px;
    margin-top: 25px;
    position: relative;
    right: 40%;

        &:hover {
            background-color: #ffffff;
            color: #84bc22;
        }
}


.icons {
    display: flex;
    flex-direction: row;
    color: #B2B2B2;

        a {
        color: #B2B2B2;
        font-size: 16px;
        margin-right: 20px;
        }
  
        .share {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 26px;
        text-align: left;
        margin-right: 40px;
        }
}

.expandArrows {
    color: #84bc22;
    position: absolute;
    top: 5%;
    left: 10%;
    cursor: pointer;
}

.bigImgModal {
    width: 465px;
    height: 465px;
}

.formStyle {
    display: flex;
    flex-direction: row;
}



// responsive section

@media (max-width: 480px) {
  
    .container {
        padding: 0 15px 0 15px;
    }    

    .containerProduct {
        padding: 0;
    }

    .bigImg, .bigImgModal {
        height: 100%;
        width: 100%;
    }

    .mainTitle {
    font-size: 31px;
    font-weight: 400;

            &:before,
            &:after {
                content: none;
            }
    }

    .colorPicker {
        margin: 0 auto;
        width: 100%;
        padding-top: 10px;
        display: flex;
        justify-content: center;
    
        div {
            padding-bottom: 5px;
            width: 80%;
            
            &:nth-child(n-1) {
                margin: 0;
            }

            img {
                cursor: pointer;
                width: 72px;
                height: 70px;

                &:nth-child(1) {
                    margin-left: 20px;
                }
    
            }
        }

    }

    .price {
        font-size: 31px;
        font-weight: 400;
        margin: 10% 0 0 10%;
    }

    .dropdown {
        margin: 5% 0 0 10%;

        button {
        font-size: 14px;
        }
    
        .btnDrop {
            width: 153px;
        }
    
        .greyClr {
            border-radius: 50%;
            width: 16px;
            height: 16px;
            border: none;
            background-color: #585D61;
            margin-right: 10px;
        }
    
    }

    .inputGroup {
        margin: 25px 0 0 14%;
        width: 50%;
    }

    .cartBtn {
        font-size: 14px;
        padding: 11px 30px;
        margin: 25px 0 0 13%;
        position: initial;
        display: flex;
        justify-content: left;
    }

    .description {
        margin: 25px 0 0 10%;
        width: 70%;
        }
    
    .readMore {
        margin: 15px 0 0 10%;
    }

    .icons {
        margin: 30px 0 30px 7%;
    
            a {
            color: #B2B2B2;
            font-size: 16px;
            margin-right: 20px;
            }
      
    }

    .formStyle {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .bigImg {
        width: 368px;
        height: 376px;
    }

    .cartBtn {
        padding: 10px 20px;
        right: 20%;
    }

    .inputGroup {
        margin: 25px 0 40px 0;
        width: 82%;
    }

    .mainTitle {
        &:before,
        &:after {
            width: 10%;
        }
    }
}

@media (min-width: 700px) and (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
    }

    .colorPicker {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 30px;

        img {
            padding-left: 5px;
        }
    }

    .mainTitle {
        &:before,
        &:after {
            width: 2%;
        }
    }
}

@media (max-width: 375px) {
    .colorPicker {
        div {
            img:nth-child(1) {
                margin-left: 15px;
            }
        }
    }
}


@media (max-width: 320px) {
    .colorPicker {
        div {
            img:nth-child(1) {
                margin-left: 15px;
            }
        }
    }
}
