.styleItemsCardTitle {
    color: #2c3e50;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 10%;
}


.styleItemsCardPrice{
    color: #011847;
    font-size: 14px;
}

.styleItemsCardBody{
    min-height: 145px;
}
.styleItemsOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-image: -linear-gradient(to top, #1cc167 0%, #2ed3a2 100%);
}

.styleItemsCard {
    position: relative;
     border:none;    
}

.styleItemsCard:hover > .styleItemsOverlay {
    opacity: 0.9;
}

.styleItemsPlus {
	font-size: larger;
	color: #23c46e;
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 25px;
	background: #ffffff;
	height: 70px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10%;
}

.styleItemsHeart {
	font-size: larger;
	color: #e73c68;
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 25px;
	background: #ffffff;
	height: 70px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}