.entirePageMobile{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.entirePageDesktop{
    display: 100%;

}


@media only screen and (min-width: 900px) {
    .entirePageMobile {
      display: none;
    }
    .entirePageDesktop{
        display: inherit;
    }
    .entirePageDesktop .firstRow{
        position: fixed;
        background-color: rgba(222, 184, 135, 0.57);
        width: 100%;
        height: 80px;
        border-bottom: 2px solid rgb(243,240,234);
        z-index:30;
    }
    .entirePageDesktop .secondRow{
        display: flex;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 106px;
        z-index: 29;
    }
    .entirePageDesktop .thirdRow{
        background-color: rgb(38,42,50);
        margin-top: 53px;
        padding-left: 56px;
        padding-right: 56px;
    }
    .entirePageDesktop .fifthRow{
        background-color: rgb(38,42,50);
        padding-left: 56px;
        padding-right: 56px;
        padding-top: 44px;
        height: 564px;
        max-height: 564px;
    }
    .entirePageDesktop .sixthRow{
        margin: 0;
        padding: 0;
        height:198px;
        max-height: 198px;
        padding-left: 55px;
        padding-right: 55px;
        background: rgb(69,65,62);
        align-items: center;
    }
    .entirePageDesktop .seventhRow{
        margin: 0;
        padding: 0;
        height: 360px;
        max-height: 360px;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 40px;
    }
}

