.entirePageMobile{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(242,237,234);
}

.mainPage{
    padding-top: 62px;
}
.entirePageDesktop{
    display: none;
}

@media only screen and (min-width: 900px) {
    .entirePageMobile {
      display: none;
    }
    .entirePageDesktop{
        display: block;
        max-width: 1140px;
        margin: auto;
    }
    .entirePageDesktop .firstRow{
        position: fixed;
        background-color: rgba(222, 184, 135, 0.57);
        max-width: 1140px;
        height: 80px;
        border-bottom: 2px solid rgb(243,240,234);
        z-index:1000;
        margin: auto;
    }
    .entirePageDesktop .secondRow{
        display: flex;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 106px;
        z-index: 29;
        background-color: rgb(241,237,234);
        margin:auto;
        max-width: 1140px;
    }
    .entirePageDesktop .thirdRow{
        background-color: rgb(241,237,234);
        padding-top: 0;
        padding-left: 56px;
        padding-right: 56px;
        height: auto;
    }
    .entirePageDesktop .theFifthRow{
        padding-left: 56px;
        padding-right: 56px;
        padding-top: 44px;
        height: 564px;
        max-height: 564px;
        background-color: rgb(241,237,234);

    }
    .entirePageDesktop .theSeventhRow{
        margin: 0;
        padding: 0;
        height: 360px;
        max-height: 360px;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 40px;
    }
}