
.container {
    background-color: #f1edea;
    height: auto;
    padding: 50px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.bg {
    background-color: #ffffff;
    margin: 4% 4% 0 4%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    height: auto;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.bg2 {
    background-color: #ffffff;
    margin: 0 4% 0 4%;
    border-radius: 12px;
    height: auto;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top: 50px;
}

.bg3 {
    background-color: #ffffff;
    margin: 0 4% 4% 4%;
    border-radius: 12px;
    height: auto;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}


.mainTitle {
    color: #45413e;
    font-family: "Lato - Bold";
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    padding-top: 50px;
}

.subTitle {
    color: #000000;
    font-family: "Lato - Bold";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;   
}

.circleContainer{
    width: 100%;
    grid-template-columns: repeat(5,0.5fr);
    justify-content: center;
    justify-items: center ;
       
}

.circle {
    width: 130px;
    height: 130px;
    border: 4px solid #abcca7;
    background: none;
    border-radius: 100%;
    font-family: "Lato - Bold";
    font-size: 4rem;
    font-weight: 800;
} 

.textData {
    color: #000000;
    font-family: "Lato - Bold";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;  
    margin-top: 20px; 
}

.formControl {
    color: #45413e;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    border-radius: 42px;
    border: 2px solid #e8e2d6;
    border-right: none;
    margin-top: 20px;
    margin-bottom: 50px;
    &:focus {
        border: 2px solid #d7d7d7;
        box-shadow: none;
        border-right: none;
        }
}

.inputMain {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 50px;
}

.inputGroup {
    background-color: transparent;
    border: 2px solid #e8e2d6;
    border-radius: 42px;
    border-left: none;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 9px;
}

