.headerNav {
	position: fixed;
	top:0;
	z-index:1030;
    background-color: #ffffff;
	width: 100%;
}

.logoText {
	width: 73px;
	height: 25px;
	color: #011847;
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 6.33px;
}

.logoTextSub {
	width: 74px;
	height: 17px;
	color: #84bc22;
	font-size: 18px;
	font-weight: 400;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	&:hover {
		color: #ffffff;
		background-color: #262a32;
		border-bottom: 3px solid #008000!important;
	}
}


.nav {
	color: #45413e;
	font-size: 14px;
	font-weight: 600;
	border-bottom: none;	
}


.navDropdown {
	a{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	
		&:hover{
			text-decoration: none;
		}
	}

	&:hover {
		color:#ffffff!important;
		background-color: #262a32!important; 
		border-bottom: 3px solid #008000!important;
		border-radius: 0% !important;
		border:none;
	}
}

.navText {
	color: #45413e !important;
		&:hover {
			color:#ffffff !important;
			background-color: #262a32!important; 
			border:none;
			border-bottom: 3px solid #008000!important;
			border-radius: 0% !important;
		}
}

.navIcons {
	font-size: larger;
	margin-left: 20px;
}

.navImg {
	padding-top: 10%;
}

.navContainer {
	position: static;
	min-width: 1110px;
	background-color: #262a32;
}

.container {
	border-bottom: 3px solid #F3F0EA;
}

.row {
	padding: 4% 0 4% 5%;
	background-color: #262a32;

}

.col {
	a  {
		color: #ffffff;

		&:hover {
			color: #ffffff;
		}
	}
}

.dropdownItem {
	&:hover {
		background-color: transparent;
	}
}

@media (min-width: 1024px) and (max-width: 1280px){
	.navContainer{
		min-width: 930px;
	}

}

@media (min-width: 768px) and (max-width: 1024px) {
  
	.brand {
		margin: 0 auto;
		padding-right: 70px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
  
	.brand {
		margin: 0 auto;
		padding-right: 60px;
	}
	
}

@media (min-width: 320px) and (max-width: 768px){
	.cardHeader {
		background-color: #262a32;
		color:#ffffff;
		border: none;
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		display: flex;
		flex-direction: row;

		.navTitle {
			width: 320px;
			border: none;
		}

		.dropSubTitle {
			width: 150px;

		}
	}
	.navTitleUp {
		text-transform: uppercase;
		border: none;
	}
	
	.cardBody {
		text-align: left;
		padding-top: 10px;
	  	padding-bottom: 10px;
	  	background-color: #262a32;
		color: #ffffff;
		
		a {
			color: #ffffff;
			padding-left: 15px;
	 	}
	}

	.icons {
		font-size: 20px;
	}
  
	.navbarSm, .container {
		padding: 0;	
		border:none;
	}

	.navbarSm {
		button {
			margin-left: 15px;
		}
	}

	.nav {
		background-color: #262a32;
	}

	.img {
		width: 271px;
		height: 276px;
		margin: 0 auto;
		margin-top: 100px;
		margin-bottom: 20px;
	}

}

