@media only screen and (min-width: 900px) {

    
    .productsFP {
        background-color: #262a32;
    }
    .featuredProductsContainer {
        background-color: #262a32;
        padding: 40px 50px 60px 50px;
    }

    .firstRowFP { 
        height: auto;

    }

    .titleFP {
	    color: #ffffff;
	    font-size: 36px;
	    font-weight: 400;
	    font-style: normal;
	    letter-spacing: normal;
	    line-height: normal;
	    text-align: center;
    }

    .detailsFP {
        color:#ffffff;
        font-size: 18px;
	    font-weight: 400;
	    font-style: normal;
	    letter-spacing: normal;
	    line-height: normal;
	    text-align: center;
    }

    .border {
        position: relative;
	    overflow: hidden;
	    margin: 0 auto;
	    width: 50%;
    }

    .border:before{
        content: "";
        display: inline-block;
        width: 80%;
        margin: 0 .5em 0 -55%;
        vertical-align: middle;
        border-bottom: 3px solid #ffffff;
    }

    .border:after{
        content: "";
        display: inline-block;
        width: 80%;
        margin: 0 .5em 0 -55%;
        vertical-align: middle;
        border-bottom: 3px solid #ffffff;
    }

    .secondRowFP {
        margin-top: 40px;
            }

    .colFP {
        padding: 0;
        border: none;
        margin-top: 30px;
    }

    .slick-slide div {
        margin: 10px;
    }

    .cardGlobalFp {
        margin-right: 30px;
        margin-left:-30px;
    }

    .cardGlobalFP a {
        text-decoration: none;
    }

    .cardMainTextFP {
        color: #45413e;
        font-size: 16px;
	    font-weight: 400;
	    font-style: normal;
	    letter-spacing: normal;
	    line-height: normal;
	    text-align: center;
    }

    .cardSubTextFP {
        color: #84bc22;
        font-size: 14px;
	    font-weight: 400;
	    font-style: normal;
	    letter-spacing: normal;
	    line-height: normal;
	    text-align: center;
    }

    .cardImgFP {
        background-color: #262a32;
    }

    .cardHeightFP {
        
        min-height: 113px;
    }

    .prev {
        position: absolute;
        right: 77%;
        bottom: 1px;
    }

    .next {
        position: absolute;
        left: 77%;
        bottom: 1px;
    }

}

@media (min-width: 320px) and (max-width: 767px) {

	.productsFP {
		display: none;
	}

}

@media (min-width: 1024px) and (max-width: 1280px) {
  
	.cardHeightFP {
		min-height: 125px;
	}
	
  }

  @media (min-width: 768px) and (max-width: 1024px) {
  
	.cardHeightFP {
		min-height: 165px;
	}
	
  }
