.bodyPage{
    width: 100%;
}
.firstBody{
    margin-bottom: 2px;
    background-color: white;
    padding: 20px 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.secondBody{
    background-color: white;
    padding: 20px 20px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 50px;
}
.firstBody .details{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid rgb(232,226,214);
    padding-top: 28px;
}

.details .image{
    margin-top: 20px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.details .image .productImage{
    width: 100%;
}
.details .titlep{
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
}
.details .pricep{
    width: 100%;
    font-size: .9rem;
    color: gray;
    margin-top: 10px;
}
.details .increase{
    width: 100%;
    margin-top: 20px;
}
.details .increase .minus{
    border: 2px solid rgb(232,226,214);
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 4px 25px 4px 25px;
    background: none;
}
.details .increase .number{
    border: 2px solid rgb(232,226,214);
    border-right: none;
    border-left: none;
    padding: 4px 25px 4px 25px;
    background: none;
}
.details .increase .plus{
    border: 2px solid rgb(232,226,214);
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 4px 25px 4px 25px;
    background: none;
}
.details .lastDiva{
    width: 100%;
    font-weight: 900;
    font-size: 2.2rem;
    margin-top: 20px;
    margin-bottom: 25px;
}
.details .deleteButton{
    background: none;
    border: none;
    width: 10%;
    padding: 0;
    position: absolute;
    margin-right: -80%;
    margin-top: -10%;
    overflow: hide;
}

.details .lastDiva button .cancelImage{
    height: 30px;
}

.lastDiva .priceTotal{
    width: 40%;
    font-weight: 800;
    font-size: 2.2rem;
    margin-top: 18px;
}

.secondBody .shopping ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.secondBody .couponCode{
    width: 100%;
    height: unset;
    display: flex;
    justify-content: space-between;
}
.secondBody .couponCodeMargin{
    margin-top: 20px;
}
.couponCode .couponButton{
    border: 2px solid rgb(232,226,214);
    border-radius: 25px;
    padding: 5px 20px 5px 15px;
    font-size: .8rem;
}
.couponCode .applyButton{
    border: 2px solid var(--green);
    border-radius: 25px;
    padding: 4px 20px 4px 15px;
    font-size: .9rem;
    background: none;
    color: var(--green);
}
.couponCode .applyButtona{
    border: 2px solid var(--green);
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    font-size: .9rem;
    background: none;
    color: var(--green);
}
.couponCode .applyButtonab{
    border: 2px solid var(--green);
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    font-size: .9rem;
    background: var(--green);
    color: white;
}
.couponCode .sampleText{
    color: rgba(0, 0, 0, 0.548);
    font-weight: 300;
    font-size: .9rem;
    letter-spacing: .8px;
}
.couponCode .sampleTextBold{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 900;
    font-size: .9rem;
    letter-spacing: .8px;
}
.couponCode ul{
    list-style: none;
    margin-right: 20px;
}
.couponCode ul li input{
    margin-right: 10px;
}
.couponCode .sampleTextBoldSize{
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.8);
    margin-right: 45px;
}
.bodyPage .firstBody .detailsNone{
    display: none;
}
@media only screen and (min-width: 900px) {
    .firstBody{
        margin: 0;
        padding: 0;
        padding-bottom: 100px;
    }
    .secondBody{
        background-color: white;
        margin: 0;
        padding: 0;
        border-top: 2px solid rgb(232,226,214);
        padding: 48px 65px 0px 80px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0;
        justify-content: left;
        text-align: left;
        padding-bottom: 100px;
    }
    .firstBody .details{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 0;
        justify-content: left;
        text-align: left;
        border: none;

    }
    .details .image{
        margin-top: 0;
        height: 100px;
        width: 100px;
        overflow: hidden;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 6;
        margin-left: auto;
        margin-right: 7%;
    }
    .details .titlep{
        margin: 0;
        padding: 0;
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 1rem;
    }
    .details .pricep{
        margin: 0;
        padding: 0;
        margin-top: 0;
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 12px;
    }
    .details .increase{
        margin: 0;
        padding: 0;
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        align-items: center;
        margin-top: 2px;
    }
    .details .lastDiva{
        margin: 0;
        padding: 0;
        grid-column-start: 10;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 6px;
    }
    .details .deleteButton{
        margin: 0;
        padding: 0;
        position: inherit;
        grid-column-start: 12;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: -1px;
    }
    .details .increase .minus{
        border: 2px solid rgb(232,226,214);
        border-right: none;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: 4px 15px 4px 15px;
        background: none;
    }
    .details .increase .number{
        border: 2px solid rgb(232,226,214);
        border-right: none;
        border-left: none;
        padding: 4px 15px 4px 15px;
        background: none;
    }
    .details .increase .plus{
        border: 2px solid rgb(232,226,214);
        border-left: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 4px 15px 4px 15px;
        background: none;
    }
    .secondBody .couponButtonGrid1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .secondBody .couponButtonGrid2{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .secondBody .couponButtonGrid3{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .secondBody .couponButtonGrid4{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .secondBody .couponButtonGrid5{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .secondBody .couponCode{
        width: 100%;
        height: unset;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .secondBody .couponCode .couponButton{
        border: 2px solid rgb(232,226,214);
        border-radius: 25px;
        padding: 10px 15px;
        font-size: .8rem;
        line-height: 0;
        display: flex;
        align-items: center;
        text-align: left;
        height: unset;
        width: 60%;
    }
    .couponCode .applyButton{
        border: 2px solid var(--green);
        border-radius: 25px;
        padding: 10px 15px;
        font-size: .9rem;
        background: none;
        color: var(--green);
        width: 30%;
    }
    .couponCode .applyButtona{
        border: 2px solid var(--green);
        border-radius: 25px;
        padding: 10px 15px;
        font-size: .9rem;
        background: none;
        color: var(--green);
        width: 40%;
    }
    .couponCode .applyButtonab{
        border: 2px solid var(--green);
        border-radius: 25px;
        padding: 10px 15px;
        font-size: .9rem;
        background: var(--green);
        color: white;
        width: 50%;
    }
    .couponCode .sampleTextBoldLeft{
        padding-right: 32%;
    }
    .couponCode .sampleTextBoldSize{
        margin-right: 15.3%;
    }
    .bodyPage .firstBody .detailsNone{
        display: none;
    }
}