.bodyContainer{
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding-bottom: 10px;
}
.bodyContainer.stopImageContainer{
    width: 100%;
    position: absolute;

}
.bodyContainer .stopImageContainer .stopImage{
    position: absolute;
    height: 160px;
    margin-left: 23%;
    margin-right: 23%;
}
.bodyContainer .oops{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 0;
}
.bodyContainer .oops .oopsText{
    font-size: 5rem;
    font-weight: 800;
    color: rgb(132,188,34);
    position: absolute;
    margin-left: 19%;
}
.bodyContainer .details{
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: center;
}

.bodyContainer .details .sorry{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -1px;
    width: 100%;
    color: black;
}
.bodyContainer .details .sorryText{
    font-size: 1rem;
    text-align: left;
    margin-top: 30px;
}

.bodyContainer .details .goBack{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(132,188,34);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    margin-top: 30px;
}
.bodyContainer .details .search{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(241,237,234);
    width: 80%;
    border-radius: 20px;
    padding-left: 10px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png) right no-repeat;
    background-size: 14px;
    background-position: 97% 50%;
}
.details .search:focus{
    outline: none;
}

.details .searchOurSite{
    margin-top: 30px;
    margin-bottom: 15px;
    color: black;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    
    
}
@media only screen and (min-width: 900px) {
    .bodyContainer{
        width: 100%;
        background-color: white;
        margin: 0;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .bodyContainer .stopImageContainer .stopImage{
        position: absolute;
        height: 280px;
        margin-top: 3%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .bodyContainer .oops{
        width: 80%;
        grid-column-start: 1;
        grid-column-end: 2;
        position: absolute;
    }
    .bodyContainer .oops .oopsText{
        font-size: 8rem;
        font-weight: 900;
        margin-top: 9%;
        margin-left: 9%;
        letter-spacing: -5px;
    }
    .bodyContainer .details{
        padding: 0;
        margin-left: -100px;
        text-align: left;
        justify-content: left;
        padding-right: 93px;
    }
    
    .bodyContainer .details .sorry{
        font-size: 1.6rem;
        letter-spacing: 0px;
        margin-top: 30px;
    }
    .bodyContainer .details .sorryText{
        margin-top: 0px;
    }
    
    .bodyContainer .details .goBack{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: rgb(132,188,34);
        margin: 0;
        padding: 0;
        font-size: 1rem;
        margin-top: 30px;
    }
    .bodyContainer .details .goBack:hover{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: rgb(132,188,34);
        margin: 0;
        padding: 0;
        font-size: 1rem;
        margin-top: 30px;
        color: #1e7a1b
    }

    .bodyContainer .details .search{
        background-color: rgba(0, 0, 0, 0);
        border: 3px solid rgb(241,237,234);
        width: 100%;
        border-radius: 20px;
        padding-left: 10px;
        background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png) right no-repeat;
        background-size: 14px;
        background-position: 97% 50%;
        padding: 8px 10px 8px 10px;
    }
    .details .search:focus{
        outline: none;
    }
    
    .details .searchOurSite{
        margin-top: 30px;
        margin-bottom: 15px;
        color: black;
        width: 100%;
        font-size: 1.2rem;
    }
}