

.container {
	margin-top: 25px;
	margin-bottom: 20px;
}

.titleCarousel {
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
	width: 80%;
}

.subTitleCarousel {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	padding-top: 10%;
	width: 50%;
}

.btnCarousel {
	background-color: transparent;
	border-radius: 42px;
	border: 2px solid #ffffff;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px 40px;
	margin-top: 2%;

	&:hover {
		background-color: #ffffff;
		color: #45413e;

		a {
			color: #45413e;
		}
	}

	a {
		color: #ffffff;
		text-decoration: none;
	}
}

.leftCarousel {
	text-align: left;
}

.leftBtnCarousel {
	float: left;
}

.middleCarousel {
	text-align: center;
	margin: 0 auto;
}

.middleBtnCarousel {
	margin-top: 5%;
	float: initial;
}

.rightCarousel {
	float: right;
	text-align: right;
}

.rightBtnCarousel {
	float: right;
	clear: right;
}

.imgBg {
	height: 505px;
	width: 870px;
}

.titleSales {
	color: #45413e;
	font-size: 18px;
	font-weight: 400;
}

.subTitleSales {
	color: #45413e;
	font-family: "Myriad Pro";
	font-size: 13px;
	font-weight: 400;
}

.btnSales {
	color: #3a5b96;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: transparent;
	border-radius: 42px;
	border: 2px solid #3a5b96;
	padding: 10px 50px;

	.fb {
		margin-right: 20px;
	}

	&:hover {
		background-color: #3a5b96;
		color: #ffffff;
	}
}

.imgSales {
	height: 19rem;
	width: 17rem;
}

